# Final Project - Data Science Tools and Libraries #

## Introduction ##
This notebook summarizes key concepts and tools in Data Science learned throughout this course.

## Data Science Languajes ##

1. Python
2. R
3. SQL
4. Julia
5. Scala

## Data Science Libraries ##
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools ##
| Tools | Purpose |
| ----- | ------- |
| Jupyter | Interective notebooks |
| RStudio | IDE for R |
| Apache Spark | Big Data processing |
| Tableau | Data Visualization |

## Arithmetic Expressions ##
Examples of basic arithmetic:
- Addition: (2 + 3 = 5)
- subtraction: (3 - 1 = 2) 
- Multiplication: (4 x 5 = 20)
- division (10 / 2 = 5)

In [4]:
 # Multiplication and addition example #
result = (10 * 10 ) + 5
result

105

In [5]:
# Convert minutes to hours # 
minutes = 210
hours = minutes / 60
hours

3.5

In [10]:
# Goals for this notebook #
goals = ["Learn key Data Science tools", "Understand libraries", "Practice coding skills"]
for goal in goals:
    print (f"-{goal}")

-Learn key Data Science tools
-Understand libraries
-Practice coding skills

## Author ##
Rudy Alonso Morales Oliva